.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 85px);
  width: 100%;
}

.circle {
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  cursor: pointer;
}

.time {
  font-size: 5em;
}
